.dashbord__module--plant-manager {
  grid-area: plant-manager;
  grid-column: span 1;
  grid-row: span 3;
  border-radius: 100px 5px 5px 100px;
  position: relative;
}
@media screen and (max-width: 430px) {
  .dashbord__module--plant-manager {
    border-radius: 5px 5px 5px 5px;
    grid-row: span 3;
  }
}

.dashbord__module__content--plant-manager {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
  height: 100%;
}

.manager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
.manager__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  gap: 50px;
  height: auto;
  flex-wrap: wrap;
  padding: 20px;
  overflow: visible;
}

.manager__icons__icon {
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: relative;
  overflow: visible;
  transition: transform 0.3s ease;
}

.manager__icons__icon::after {
  content: attr(label);
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px;
  white-space: nowrap;
  overflow: visible;
  font-size: 12px;
  width: 80px;
  text-align: center;
}

.manager__icons__icon:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.manager__icon-direct-sowing {
  background-image: url(../../assets/icons/vegetable-sowing-icon4.png);
  background-size: contain;
}
.manager__icon-indirect-sowing {
  background-image: url(../../assets/icons/vegetable-sowing-icon5.png);
  background-size: contain;
}
.manager__icon-planting {
  background-image: url(../../assets/icons/vegetable-planting-icon4.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.manager__icon-harvest {
  background-image: url(../../assets/icons/vegetable-harvest-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.manager__icon-remove {
  background-image: url(../../assets/icons/vegetable-remove-icon4.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.manager__icon-delete {
  background-image: url(../../assets/icons/vegetable-delete-icon7.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.manager__icon-add-area {
  background-image: url(../../assets/icons/area-add-icon6.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.manager__icon-update-area {
  background-image: url(../../assets/icons/area-update-icon1.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.manager__icon-delete-area {
  background-image: url(../../assets/icons/area-remove-icon3.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.manager__icon-sowing_area {
  background-image: url(../../assets/icons/area-add-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}
