.dashbord__module--plant-manager {
  grid-area: plant-manager;
  grid-column: span 1;
  grid-row: span 3;
  border-radius: 100px 5px 5px 100px;
}
@media only screen and (max-width: 1400px) {
  .dashbord__module--plant-manager {
    border-radius: 100px 5px 5px 5px;
    grid-row: span 1;
  }
}
@media only screen and (max-width: 950px) {
  .dashbord__module--plant-manager {
    border-radius: 30px 30px 30px 30px;
  }
}
.module-expanded {
  grid-row: span 3;
  transition: grid-row 1s;
}

form {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[id='gender'] {
  box-sizing: border-box;
  height: 40px;
}

select[id='gender'] {
  width: 100%;
}

textarea,
select {
  padding: 8px;
  border: none;
  border-radius: 4px;
  height: 40px;
}

label {
  height: 25px;
}
textarea {
  height: 100px;
  background-color: rgba(250, 250, 250, 0.8);
}

.form_line1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px; /* Set the width to your desired fixed width */
  height: 500px; /* Set the height to your desired fixed height */
}

.sow-checkbox,
.form_checkbox,
.garden_area-checkbox,
.delete-options {
  height: 45px;
  display: flex;
  align-items: center;
}

.form_quantity,
.form_garden_area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.form_quantity input {
  width: 30%;
  height: 25px;
  font-size: medium;
  border-radius: 5px;
}

.form_line1 .garden-area-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  height: 25px;
  font-size: medium;
  border-radius: 5px;
}

.form_sowing_date input,
.form_harvest_date input {
  width: 40%;
  height: 25px;
  font-size: medium;
  border-radius: 5px;
}

.form_planting_date input {
  width: 40%;
  height: 25px;
  font-size: medium;
  border-radius: 5px;
  margin-bottom: 5px;
}

#update-garden-area-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 310px;
}

#remove-vegetable-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 310px;
}

#remove-date {
  width: 40%;
  height: 25px;
  font-size: medium;
  border-radius: 5px;
}
#update-garden-area-form label {
  height: 25px;
}

#update-garden-area-form input {
  width: 50%;
  height: 25px;
  font-size: medium;
  border-radius: 5px;
}

#update-garden-area-form select {
  width: 100%;
  height: 30px;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #8eda92;
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 300;
  font-size: 15px;
}

button:hover {
  background-color: #67d46d;
}

button.return-button {
  display: none;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: rgb(248, 91, 91);
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 300;
  font-size: 15px;
  width: 25%;
  /* Add styling for the button */
}

#delete-vegetable-button,
#delete-garden-area-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ec8551;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 300;
  font-size: 15px;
  width: 100%;
  border-radius: 40px;
}

#delete-vegetable-button:hover,
#delete-garden-area-button:hover {
  background-color: #ee6b2d;
}

#vegetable_to_delete,
#garden_area_to_delete {
  width: 100%;
  height: 40px;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

/* ---------------------Plant manager module--------------------- */

.hidden {
  display: none;
}

.icon_plant_manager {
  cursor: pointer;
  background-image: url(../../assets/plant_manager/planter.png);
  /* Add styles for your icons here */
}

.icon_delete_manager {
  cursor: pointer;
  background-image: url(../../assets/plant_manager/supprimer.png);
  /* Add styles for your icons here */
}

.icon_sow_manager {
  cursor: pointer;
  background-image: url(../../assets/plant_manager/semis.png);
  /* Add styles for your icons here */
}

.icon_create_manager {
  cursor: pointer;
  background-image: url(../../assets/plant_manager/créer.png);
  /* Add styles for your icons here */
}

.icon_harvest_manager {
  cursor: pointer;
  background-image: url(../../assets/plant_manager/récolter.png);
  /* Add styles for your icons here */
}

.icon_remove_manager {
  cursor: pointer;
  background-image: url(../../assets/plant_manager/remove.png);
  /* Add styles for your icons here */
}

.return-button {
  display: none;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: rgb(248, 91, 91);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 300;
  font-size: 15px;
  /* Add styling for the button */
}

.return-button:hover {
  background-color: red;
}

.dashbord__module__content--plant-manager {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  margin-top: 30px;
  margin-left: 35px;
  margin-right: 35px;
}
/* ----------------------Sowing table------------------------- */
.sowing-table-container {
  max-height: 150px;
  overflow-y: scroll;
}

.sowing-table-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#sowing-table {
  display: block;
  border-collapse: collapse;
}

#sowing-table tbody {
  border-collapse: collapse;
  font-size: 14px;
}

#sowing-table td {
  padding-left: 20px;
  padding-right: 28px;
  text-align: center;
  white-space: nowrap;
  border-bottom: solid 1px #d8d6d6;
}

#sowing-table img {
  width: 25px;
  height: 25px;
}

h6 {
  text-align: center;
  margin-bottom: -15px;
  font-size: 18px;
  font-weight: 350;
  color: rgb(95, 95, 84);
  text-decoration: underline;
}

@media only screen and (max-width: 950px) {
  .plant_manager_icon_container {
    gap: 10px;
    margin-top: -30px;
  }
}
@media only screen and (max-width: 1400px) {
  .plant_manager_icon_container {
    gap: 10px;
    margin-top: -30px;
  }
}

.icons_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 30%;
}
@media only screen and (max-width: 950px) {
  .icons_container {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1400px) {
  .icons_container {
    margin-bottom: 20px;
  }
}

/* J'utilise dont_move pour assurer que l'icone ne bouge pas après avoir cliquer sur le bouton return*/
.dont_move {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.large_icons_container {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
}

.icons_container p {
  font-size: 18px;
}

.icon_garden {
  width: 40px;
  height: 40px;
  font-size: 36px;
  border-radius: 10px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
  transition: transform 0.2s;
}
@media only screen and (max-width: 950px) {
  .icon_garden {
    width: 40px;
    height: 40px;
    background-size: 40px;
    font-size: 30px;
  }
}
@media only screen and (max-width: 1400px) {
  .icon_garden {
    width: 40px;
    height: 40px;
    background-size: 40px;
    font-size: 30px;
  }
}

.icon_garden:hover {
  transform: scale(1.3); /* Increase the size by 20% on hover */
}

.popup,
.popup1,
.popup2,
.popup3,
.popup4,
.popup5,
.popup6,
.popup7 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.popup-content,
.popup-content1,
.popup-content2,
.popup-content3,
.popup-content4,
.popup-content5,
.popup-content6,
.popup-content7 {
  background: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#popup-ok-button,
#popup-ok-button1,
#popup-ok-button2,
#popup-ok-button3,
#popup-ok-button4,
#popup-ok-button5,
#popup-ok-button6,
#popup-ok-button7 {
  background: #15d25a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
