.dashbord__module--assistant {
  grid-area: todolist;
  grid-column: span 1;
  grid-row: span 2;
  border-radius: 5px 5px 100px 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  background-size: auto 10%;
}
.dashbord__module__content--assistant {
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin-top: 40px;
  align-items: start;
}
.assistant__resize-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 35px;
  height: 35px;
  font-size: 15px;
  font-weight: 300;
  outline: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.assistant__resize-button:hover {
  transform: scale(1.2);
}
.assistant__conversation-container {
}
.chat-output {
  position: absolute;
  width: 90%;
  height: 70%;
  overflow: scroll;
  padding: 5px;
  top: 50px;
}
.chat-output::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.assistant__placeholder-message {
  width: 80%; /* Limit the maximum width for messages */
  margin: 5px;
  position: relative;
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
  font-family: Roboto;
  background-color: #babcbe;
  border-radius: 20px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  overflow: visible;
}
.assistant__input-container {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  width: 90%;
  padding: 10px;
  gap: 15px;
}
#user-input {
  display: flex;
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  resize: none;
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
  font-family: Roboto;
  background-color: #f5f5f5;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#assistantSubmit {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: 0;
  margin: 0;
  text-align: left;
  text-decoration: none;

  background-image: url(../assets/icon-send-2.png);
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}
#assistantSubmit:hover {
  transform: scale(1.2);
}
.user-message {
  align-self: flex-end;
  position: relative;
  width: 75%; /* Limit the maximum width for messages */
  margin: 15px;
  margin-left: 23%;
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
  font-family: Roboto;
  background-color: #77c4f8;
  border-radius: 20px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  overflow: visible;
}
.assistant-message {
  width: 80%; /* Limit the maximum width for messages */
  margin: 5px;
  position: relative;
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
  font-family: Roboto;
  background-color: #babcbe;
  border-radius: 20px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
@keyframes dots {
  0% {
    content: ' .';
  }
  20% {
    content: ' ..';
  }
  40% {
    content: ' ...';
  }
  60% {
    content: ' .';
  }
  80% {
    content: ' ..';
  }
  100% {
    content: ' ...';
  }
}
.typing-dots {
  font-size: 20px;
  font-weight: 300;
  font-family: Roboto;
}
.typing-dots::before {
  content: ' ...';
  animation: dots 3s infinite;
}

/* .chat-container {
  font-size: small;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 370px;
  max-height: 78%; 
  overflow-y: auto;
  padding-bottom: 10px;
  text-align: justify;
  transition: transform 0.3s;
  border: 1px black solid;
} */

/* .assistant-message::after {
  content: '';
  position: absolute;
  z-index: 0;
  left: 1px;
  bottom: -2px;
  height: 10px;
  width: 10px;
  background: #babcbe;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 29px;
  overflow: visible;
} */

/* .user-message::after {
  content: '';
  position: absolute;
  z-index: 0;
  right: 1px;
  bottom: -2px;
  height: 10px;
  width: 10px;
  background: #77c4f8;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 29px;
  overflow: visible;
} */
/* #placeholder-message:before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: -5px;
  left: 1px;
  height: 12px;
  width: 12px;
  background: #babcbe;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  overflow: visible;
} */
