/* ----------------------- Forecast Module ----------------------- */
.dashbord__module--forecast {
  grid-area: forecast;
  grid-column: span 1;
  grid-row: span 1;
}

.dashbord__module__content--forecast {
  margin-top: 20px;
  width: 100%;
  justify-content: space-around;
}
.forecast-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 15px;
  margin-top: 20px;
}
.forecast-container__icon {
  width: 40px;
  height: 40px;
}
.forecast-container__rain {
  width: 80px;
  text-align: center;
  overflow: visible;
  background-image: url(../assets/water.png);
  background-repeat: no-repeat;
  background-size: 17px;
}
.forecast-container__rain span {
  font-size: 8px;
}
.forecast-container__day {
  font-weight: 500;
}

.forecast-container__temperature {
  font-weight: 400;
}

.forecast-tooltip {
  position: absolute;
  display: none;
  background-color: white;
  padding: 4px;
  top: 45px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: text;
  font-size: 12px;
}
