/* ----------------------- Recommandations Module ----------------------- */
.dashbord__module--recommandations {
  grid-area: recommandations;
  grid-column: span 1;
  grid-row: span 1;
  border-radius: 5px 100px 5px 5px;
}

@media only screen and (max-width: 1400px) {
  .dashbord__module--recommandations {
    border-radius: 5px 5px 5px 5px;
  }
}
@media only screen and (max-width: 950px) {
  .dashbord__module--recommandations {
    border-radius: 30px 30px 30px 30px;
  }
}
.dashbord__module__content--recommandations {
  flex-wrap: wrap;
  margin-top: 27px;
  justify-content: start;
  align-items: start;
  overflow: scroll;
  width: 100%;
  min-height: 80%;
}
.dashbord__module__content--recommandations::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.recommandations-container {
  width: 68px;
  height: 62px;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: top;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-position: center;
}

.recommandations-container__vegetable-name {
  width: 100%;
  text-align: center;
}
