/* ----------------------- Recommandations Module ----------------------- */
.dashbord__module--recommandations {
  grid-area: recommandations;
  grid-column: span 1;
  grid-row: span 1;
  border-radius: 5px 100px 5px 5px;
}

.dashbord__module__content--recommandations {
  flex-wrap: wrap;
  margin-top: 27px;
  justify-content: start;
  align-items: start;
  overflow: scroll;
  width: 100%;
  min-height: 80%;
}
.dashbord__module__content--recommandations::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.recommandations-container {
  width: 68px;
  height: 62px;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: top;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-position: center;
}

.recommandations-container__vegetable-name {
  width: 100%;
  text-align: center;
}

.indoor-logo {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #e14e4e;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.legend {
  position: absolute;
  top: 14px;
  left: 5px;
  width: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.legend span {
  width: 8px;
  height: 8px;
  background-color: #e14e4e;
  border-radius: 50%;
}

.legend p {
  font-size: 10px;
}
