.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-auto-rows: 200px;
}

.dashbord__module {
  position: relative;
  padding: 15px;
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashbord__module__title {
  position: absolute;
  top: 0;
  margin-top: 15px;
}

.dashbord__module__content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
