#container_settings {
  display: none;
  grid-template-columns: repeat(1, 1139px);
  grid-auto-rows: 660px;
}

.settings-container {
  position: relative;
  grid-column: span 1;
  grid-row: span 1;
  border-radius: 100px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.9);
  font-weight: 700;
  padding: 30px;
  padding-bottom: 50px;
  overflow: scroll;
}

.settings-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.settings-container__title {
  overflow: visible;
}

.settings-container__content {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: visible;
}

.settings-container__content__subtitle {
  margin-top: 30px;
}

.table-settings {
  width: 100%;
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0px 0px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(250, 250, 250, 0.9);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.table-settings th {
  text-align: center;
  font-size: 10px;
  padding: 3px;
}

.table-settings td {
  text-align: center;
  height: 25px;
  min-width: 15px;
}

/* table th:nth-child(1) {
    width: 50px;
  }
table th:nth-child(2) {
    width: 100px;
  } */
/* .table-settings tr {
    border: 1px gray solid; 
  } */
/* Select every 4th td element starting from the 3rd td */
table td:nth-child(n + 3):nth-child(4n + 3) {
  border-right: 1px solid gray;
  /* Adjust the border style and color as needed */
}

.highlight {
  /* width: 100%; */
  height: 60%;
}

.highlight-grow {
  background-color: cadetblue;
}

.highlight-harvest {
  background-color: orangered;
}

.highlight-start {
  border-radius: 10px 0px 0px 10px;
}

.highlight-end {
  border-radius: 0px 10px 10px 0px;
}

.highlight-start-end {
  border-radius: 10px 10px 10px 10px;
}

.table-settings__vegetable-icon {
  /* background-image: url(./assets/vegetable_icons/Leek.png); */
  background-repeat: no-repeat;
  background-size: 21px;
  background-position: center;
}
