:root {
  --desktop-width: 75rem;
  --font-family: 'Roboto', sans-serif;
  --font-main-color: #373f2f;
  --background-color: linear-gradient(
    to bottom,
    #cdd16b,
    #c1d673,
    #b4db7c,
    #a7df87,
    #99e393,
    #9ee18e,
    #a2df88,
    #a7dd83,
    #bfd46f,
    #d5c962,
    #e9bd5c,
    #fbb05f
  );
  --border-tip-color: #242a1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  overflow-x: hidden;
  border-top: 25px var(--border-tip-color) solid;
  border-bottom: 50px var(--border-tip-color) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  color: var(--border-tip-color);
  background-image: var(--background-color);
}
a,
a:visited,
a:hover {
  color: #fdf5e6;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  /* text-decoration: underline; */
}

h3 {
  font-size: 2rem;
  text-align: center;
  width: 20rem;
}
.button {
  align-items: center;
  background-color: #373f2f;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, 'Segoe UI', Roboto,
    'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell,
    'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button:hover,
.button:focus {
  background-color: #afad2a;
  color: #fdf5e6;
}

.button:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

/*** HEADER ***/
header {
  width: var(--desktop-width);
  min-height: 100vh;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title p {
  font-size: 1.5rem;
  text-align: center;
  margin-left: 25rem;
}
.header__menu {
  border-top: 1px black solid;
  margin-top: 1rem;
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 100px;
  font-size: 1.5px;
}
.header__content {
  display: flex;
  margin-top: 2rem;
}
.header__content__dashboard {
  display: flex;
  justify-content: center;
  width: 75%;
  object-fit: cover;
}
.header__content__description {
  margin-top: -3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  text-align: justify;
}
.header__content__description__vegetable-icons {
  display: flex;
  gap: 15px;
}
.header__content__description__vegetable-icon__icon {
  width: 35px;
  height: 35px;
  background-size: contain;
}
.header__content__description__vegetable-icon__icon--1 {
  background-image: url(./assets/tomato.png);
}
.header__content__description__vegetable-icon__icon--2 {
  background-image: url(./assets/eggplant.png);
  background-size: contain;
}
.header__content__description__vegetable-icon__icon--3 {
  background-image: url(./assets/carrot.png);
}
.header__content__description__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

/*** MAIN ***/
main {
  width: var(--desktop-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
}

/* Features section
============================= */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__screenshot {
  display: flex;
  justify-content: center;
}
.section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.section__content p {
  text-align: justify;
  font-size: large;
}
.section__content__icon {
  width: 40px;
  height: 40px;
  background-size: cover;
}
.plant-manager {
  width: 100%;
  justify-content: space-between;
}
.plant-manager__content {
  width: 20rem;
}
.production {
  flex-direction: column;
  gap: 2rem;
}
.production__content p {
  width: 60%;
}
.section__screenshot--production {
  width: 85%;
}
.forecast {
  justify-content: center;
  gap: 10rem;
  width: 100%;
}
.forecast__image {
  width: 25rem;
}
.forecast__content {
  width: 20rem;
}
.feature__icon--manager {
  background-image: url(./assets/management.png);
}
.feature__icon--guide {
  background-image: url(./assets/guide-icon.png);
}
.feature__icon--recommandations {
  background-image: url(./assets/sowing-seeds.png);
}
.feature__icon--todo {
  background-image: url(./assets/check.png);
}
.feature__icon--forecast {
  background-image: url(./assets/cloudy-2.png);
}
.feature__icon--assistant {
  background-image: url(./assets/chatbot.png);
}
.feature__icon--assistant {
  background-image: url(./assets/chatbot.png);
}
.feature__icon--production {
  background-image: url(./assets/production-icon.png);
}

.community {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.separation {
  width: 100%;
  border-top: 1px black solid;
}

/* About section
============================= */
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-top: -50px;
  width: 75%;
  font-size: large;
  text-align: justify;
}
.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.member-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.container-3features {
  display: flex;
  height: 15rem;
}

.section-3features {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content-3features {
  display: flex;
  flex-direction: column;
  width: 75%;
  text-align: center;
  font-size: large;
  align-items: center;
}

.top-button {
  margin-bottom: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-variant: small-caps;
}

.top-button p {
  margin-top: -20px;
}
.link-buttons {
  display: flex;
  gap: 30px;
}

/*** FOOTER ***/
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--desktop-width);
}

.icon-cock {
  position: absolute;
  bottom: -0.1rem;
  left: 0;
}

.icon-chicken-3 {
  position: absolute;
  bottom: 0;
  left: 100px;
}

.icon-chicken {
  position: absolute;
  bottom: 0;
  left: 140px;
  height: 50px;
}

.icon-tree {
  position: absolute;
  bottom: 0;
  left: 140px;
}

.icon-vegetation {
  position: absolute;
  bottom: -0.2rem;
  right: 40px;
}

.icon-vegetation2 {
  position: absolute;
  bottom: -0.2rem;
  right: 80px;
}

.icon-vegetation3 {
  position: absolute;
  bottom: -0.2rem;
  right: 120px;
}

.icon-grange {
  position: absolute;
  bottom: 0;
  right: 430px;
  height: 135px;
}

.icon-cultivation {
  position: absolute;
  bottom: 0;
  right: 250px;
  height: 100px;
}
